<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dojo/dijit/themes/tundra/tundra.css')}"/>
  <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dojo/dojo/resources/dojo.css')}"/>

<script type="text/javascript">

</script>

</head>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
}
#finfo {
padding:50px;
position:relative;
left:100px;
}
#ftitle {
margin-bottom:50px;
}
</style>


<body class="tundra">
  <h1>Form description</h1>
  <div id="finfo"> 
    <h2>
      <span id="ftitle"><span py:replace="title"/></span>
    </h2>
    <span py:replace="info"/>
    <ul>
      <py:for each="k, v in parameters.iteritems()">
	<li>$k : $v</li>
      </py:for>
    </ul>
  </div>  

</body>
</html>

