

$col-base :#454D46
$col-1 :#596E55
$col-2 :#6A877F
$col-3 :#79B3AD
$col-4 :#AAD7D9


$bgcolor: $col-base
$banfoot: $col-4
$links: $col-1
$linkshoover: $col-base

$margin-dst :30px
$padding-dst: 30px
$banner-height: 40px

@mixin bshadow
  box-shadow: 10px 10px 5px $col-3

@mixin bborder
  border: 1px solid $col-3

@mixin belement
  margin: $margin-dst
  padding: $padding-dst
  @include bshadow
  @include bborder
