



$col-base :#636769
$col-1 :#E6F1F5
$col-2 :#AAB3B6
$col-3 :#6E7476
$col-4 :#4B4E50

$col-error:red

$bgcolor: $col-2
$banfoot: $col-base

$links: $col-1
$linkshoover: $col-4

$margin-dst :30px
$padding-dst: 30px
$banner-height: 40px

@mixin bshadow
  box-shadow: 10px 10px 5px $col-4

@mixin bborder
  border: 1px solid $col-4
  border-radius: 5px

@mixin belement
  margin: $margin-dst
  padding: $padding-dst
  @include bshadow
  @include bborder

@mixin title
  font-size: large
  font-weight: bold

@mixin note
  font-weight: lighter
  font-style: italic