/** bs css for drop down buttons 
* found on http://www.red-team-design.com/css3-animated-dropdown-menu
*/

/* reset */
#menu-bar, #menu-bar ul{
    margin:0;
    padding:0;
    list-style:none;
}

/* menu bar style */
#menu-bar{
    width: 150px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    position:fixed
}
/* clear floats */
#menu-bar:before, #menu-bar:after {
    content: "";
    display: table;
}

#menu-bar:after {
    clear: both;
}

#menu-bar {
    zoom:1;
}

/* list elements */
#menu-bar li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
}

#menu-bar a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu-bar li:hover > a {
    color: #fafafa;
}

/* submenus */
#menu-bar ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);
    border-radius: 3px;
    transition: all .2s ease-in-out;  
}

#menu-bar li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu-bar ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#menu-bar ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu-bar ul li:last-child {   
    box-shadow: none;    
}

#menu-bar ul a {    
    padding: 10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu-bar ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}


/* first and last child */
#menu-bar ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu-bar ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu-bar ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu-bar ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu-bar ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent; 
}

#menu-bar ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}


/* #menu-bar li { */
/*   margin: 0px 6px 0px 6px; */
/*   padding: 0px 0px 6px 0px; */
/*   float: left; */
/*   position: relative; */
/*   list-style: none; */
/* } */

/* #menu-bar a { */
/*   font-weight: bold; */
/*   font-family: arial; */
/*   font-style: normal; */
/*   font-size: 12px; */
/*   color: #E7E5E5; */
/*   text-decoration: none; */
/*   display: block; */
/*   padding: 8px 20px 8px 20px; */
/*   margin: 0; */
/*   width:100px; */
/*   border-radius: 10px; */
/*   -webkit-border-radius: 10px; */
/*   -moz-border-radius: 10px; */
/*   text-shadow: 2px 2px 3px #000000; */
/*   background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1)); */
/*   background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1); */
/* } */

/* #menu-bar li:hover > a { */
/*     color: red; */
/* } */


