/*
Syntax error: Invalid CSS after "": expected selector_comma_sequence, was "}"
        on line 76 of bs/public/css/style.sass

71:   list-style-type: none
72:   position: fixed
73:   right: 0
74:   top: 0
75:   width: 100%
76: }
77: 
78: 
79: .banner2 > li
80:   float: right
81:   margin: 10px

Backtrace:
bs/public/css/style.sass:76
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/scss/parser.rb:1148:in `expected'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/scss/parser.rb:1084:in `expected'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/scss/parser.rb:1066:in `expr!'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/scss/static_parser.rb:20:in `parse_selector'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:314:in `visit_rule'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapters/darwin.rb:38:in `initialize'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapters/darwin.rb:38:in `new'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/adapters/darwin.rb:38:in `start'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/exec.rb:452:in `watch_or_update'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/exec.rb:315:in `process_result'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/nitro/.virtualenv/dev/gems/gems/sass-3.2.8/bin/sass:9
/Users/nitro/.virtualenv/dev/gems/bin/sass:19:in `load'
/Users/nitro/.virtualenv/dev/gems/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected selector_comma_sequence, was \"}\"\A         on line 76 of bs/public/css/style.sass\A \A 71:   list-style-type: none\A 72:   position: fixed\A 73:   right: 0\A 74:   top: 0\A 75:   width: 100%\A 76: }\A 77: \A 78: \A 79: .banner2 > li\A 80:   float: right\A 81:   margin: 10px"; }
