@import "base"

*
  margin: 0
  padding: 0
.error
  color: $col-error

body
  font-family: Georgia, "Times New Roman", Times, serif
  background-color: $bgcolor


/* BANNER */
ul#banner
  list-style-type: none
  background-color: $banfoot
  height: $banner-height
  width: 100%
  margin: auto
  @include bshadow
  margin-bottom: $margin-dst


ul#banner li:first-child
  font-size: 24px
  position: relative
  top: 2px
  margin-left: 20px

ul#banner li
  height: $banner-height
  position: relative
  top: 10px


ul#banner li ul
  list-style-type: none

ul#banner li ul li
  float: none
  font-size: 12px
  position: relative
  left: 10px

ul#banner li ul li:first-child
  left: 0px
  font-size: 24px


ul#banner li
  float: left


ul#banner li a
  background-repeat: no-repeat
  background-position: right
  padding: 0px 40px 0px 40px
  display: block
  text-decoration: none
  color: $links

ul#banner li:first-child a
  color: black

ul#banner li a:hover
  color: $linkshoover

/* LINKS */

a
  color: $links
  &:hover
    color: $linkshoover

/* FOOTER */
div#footer
  background-color: $banfoot
  height: $banner-height
  width: 100%
  margin: 0 auto -$banner-height
  position: fixed
  bottom: 0


/* CONTENT */
div#content
  margin: $margin-dst

div#content p
  @include belement

.belement
  @include belement

.span_hidden
  display: none
 
#plugin_presentation
  @include belement

#plugin_presentation li
  list-style-type: none
  margin: $margin-dst / 2
  padding: $padding-dst / 2
  @include bshadow

.plugin_description
  position: relative

.show
  display: block

.jstatus
  font-style: bold

.jrunning
  color: $col-1

.jpending
  color: $col-3

.jtotal
  color: $col-4

.jfailed
  color: $col-4


