<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

  <py:def function="mainmenu">
    <ul id="mainmenu">
      <li><a href="${tg.url('/visual/')}" class="${('', 'active')[defined('page') and page=='form']}">Operations</a></li>
      <li><a href="${tg.url('/vocabulary')}" class="${('', 'active')[defined('page') and page=='form']}">Vocabulary</a></li>
      <li><a href="http://bbcf.epfl.ch/bs">Documentation</a></li>
    </ul>
  </py:def>


  <py:def function="header">
      <div id="header">
          <h1>
              BioScript
              <span class="subtitle">Vocabulary</span>
          </h1>
      </div>
  </py:def>

  <py:def function="footer">
      <div id="footer">
          <div class="foottext">
              <p>BioScript is a <a href="http://bbcf.epfl.ch/">BBCF</a> application hosted on <a href="https:///github.com/bbcf/bs">github</a>.</p>
              <p><a href="http://www.turbogears.org/2.1/">Powered by TurboGears 2</a></p>
          </div>
          <div class="clearingdiv"></div>
      </div>
  </py:def>



</html>




