<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
  <xi:include href="definitions.html"/>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title py:replace="page"></title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dojo/dijit/themes/tundra/tundra.css')}"/>
  <link rel="stylesheet" type="text/css" href="${tg.url('/javascript/jslib/dojo/dojo/resources/dojo.css')}"/>

<script type="text/javascript">

</script>

</head>

<body>
  <h1>Vocabulary permitted in BioScript plugins</h1>
  <ul>
    <li>Definition file : <a href="${tg.url('/vocab')}">here</a>.</li>
    <li>All terms permitted in JSON : <a href="${tg.url('/vocab')}?tag=w">here</a>.</li>
    <li>Inclusion list in JSON : <a href="${tg.url('/vocab')}?tag=i">here</a>.</li>
  </ul>
  

</body>
</html>

